/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* 상단 헤더 스타일 */
ion-toolbar {
  --background: #f5f5f5;
  --color: #4a4a4a;
}

/* 하단 탭 바 스타일 */
ion-tab-bar {
  --background: #f5f5f5;
  --color: #4a4a4a;
  border-top: 1px solid #e0e0e0;
}

ion-tab-button {
  --color: #6b6b6b;
  --color-selected: #4a4a4a;
}

ion-tab-button ion-icon {
  color: #6b6b6b !important;
}

ion-tab-button.tab-selected ion-icon {
  color: #4a4a4a !important;
}

/* React Icons 스타일 */
ion-tab-button svg {
  color: #6b6b6b;
  width: 24px;
  height: 24px;
}

ion-tab-button.tab-selected svg {
  color: #4a4a4a;
}

ion-tab-button ion-label {
  color: #6b6b6b !important;
}

ion-tab-button.tab-selected ion-label {
  color: #4a4a4a !important;
}
